@{
    Layout = "_Layout";
}

<div class="container">
      <form action="/hangman" method="post">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="letter">Type your guess</label>
        <input class="form-control" id="letter" name="letter" type="text" placeholder="Your guess: letter">
      </div>
    </div>
      <button class="btn btn-info" type="submit">Submit</button>
  </form>
</div>